
.community{
    height: 111vh;
    background-color: #fff;
    color: var(--dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/* ---------------------------- */
.topcom{
    display: flex;
    flex-direction: row;
    height: 30vh;
    margin-top: 5rem;
}
.comtitle{
    width: 20rem;
    margin-right: 5rem;
    position: relative;
    top: 0;
    left: 0;
}

.comtitle h3{
    font-size: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 2rem;
    z-index: 33;
}

#comcom{
    position: absolute;
    top: 4.5rem;
    left: 0;
}

.comline {
    background-color: var(--primary);
    height: 0.5rem;
    width: 20rem;
    position: absolute;
    top: 7.5rem;
    left: -1rem;
}

.combtn{
    background-color: var(--primary);
    color: var(--dark);
    padding: 0.5rem;
    width: 6rem;
    font-size: 1.3rem;
    position: absolute;
    top: 10rem;
    left: 0;
}

#topp{
    font-size: 1.4rem;
    position: absolute;
    top: 16rem;
    left: 0;
}

/* ---------------------------- */
.taco{
    margin-top: 5rem;
    width: 31rem;
    height: 15rem;
    display: flex;
    position: relative;
}

.cardpic{
    background: #FFF;
    box-shadow: 0px 15px 50px #0000000F;
    width: 14rem;
    height: 14rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#cdpi{
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    height: 13rem;
    width: 13rem;
}
#coin1{
    height: 3rem;
    z-index: 33;
    position: absolute;
    top: 0;
    right: 0;
}

 #dets2{
    width: 8rem;
    height: 5rem;
    position: absolute;
    bottom: -2rem;
    right: 12rem;
 }

 .cardtxt{
    background: #FFF;
    box-shadow: 0px 15px 50px #0000000F;
    width: 14rem;
    height: 14rem;
    position: absolute;
    top: 0;
    right: 0.5rem;
    z-index: 1;
    padding: 1rem;
    font-size: 0.9rem;
    font-family: 'Roboto';
 }

 .cardtxt h5{
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: 1rem;
 }

 .likes{
    text-align: right;
    margin-top: 0.5rem;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
 }
 .likes img{
    padding-right: 0.2rem;
    padding-left: 0.5rem;
 }

 #dets1{
    height: 5rem;
    position: absolute;
    bottom: -1rem;
    right: 0;
 }
/* ---------------------------- */

.midcom{
    height: 30vh;
    width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.waffle{
    margin-top: 5rem;
    margin-left: 5rem;
    width: 31rem;
    height: 15rem;
    position: relative;
}

.cardpic2{
    background: #FFF;
    box-shadow: 0px 15px 50px #0000000F;
    width: 14rem;
    height: 14rem;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

#cdpi2{
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    height: 13rem;
    width: 13rem;
}
#coin2{
    height: 3rem;
    z-index: 33;
    position: absolute;
    top: 0;
    right: 0;
}
#dets3{
    width: 8rem;
    height: 5rem;
    position: absolute;
    bottom: -1rem;
    left: 3rem;
}

/* ---------------------------- */

.botcom{
    height: 30vh;
    display: flex;
    flex-direction: row;
}
.botcomp{
    width: 35rem;
}
.comp{
    color: var(--text);
    width: 15rem;
    font-size: 1.3rem;
    margin-top: 5rem;
}

.squid{
    margin-top: 5rem;
    width: 31rem;
    height: 15rem;
    position: relative;
}
.cardtxt2{
    font-family: 'Roboto';
    background: #FFF;
    box-shadow: 0px 15px 50px #0000000F;
    width: 14rem;
    height: 14rem;
    position: absolute;
    top: 0;
    left: 0.5rem;
    z-index: 1;
    padding: 1rem;
    font-size: 0.9rem;
 }

 .cardtxt2 h5{
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: 1rem;
 }

.cardpic3{
    background: #FFF;
    box-shadow: 0px 15px 50px #0000000F;
    width: 14rem;
    height: 14rem;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}
#cdpi3{
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    height: 13rem;
    width: 13rem;
}
#coin3{
    height: 3rem;
    z-index: 33;
    position: absolute;
    top: 0;
    right: 0;
}

/* ------------------------------------------ */

.anime2{
    animation: cardup 2s /* steps(12) */ /* infinite */;
}

.anime3{
    animation: cardup 3s /* steps(12) */ /* infinite */;
}

.anime4{
    animation: cardup 3s /* steps(12) */ /* infinite */;
}

@keyframes cardup {
    100%{
        transform: translateY(0vh);

    }

    0%{
        transform: translateY(101vh);
    }
} 