
.menu{
    background-color: #F8F8F8;
    color: var(--dark);
    height: 100vh;
    display: grid;
    grid-template: auto 1fr / 1fr 1fr 1fr 1fr;
    padding-left: 10vw;
    padding-right: 10vw;
    overflow: hidden;
}


.menutitle{
    margin-top: 4rem;
    padding: 2rem;
    grid-column: 1 / 5;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.menutitle h3{
    z-index: 33;
}
.menuline{
    background-color: var(--primary);
    height: 0.5rem;
    width: 20rem;
    position: absolute;
    top: 4rem;
}

.starters{
    grid-column: 1 / 2;
    border-right: 1px solid #CECECE;
    padding: 2rem;
    min-width: 20vw;
}
.starters h3{
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: left;
    margin-left: -1rem;
}
.starterm h5{
    font-size: 1rem;
    color: var(--dark);
    text-align: left;
    padding-bottom: 0.5rem;
    margin-top: 3rem;
}
.starterm p{
    font-size: 1rem;
    color: var(--text);
    width: 80%;
    text-align: left;
    margin-bottom: 1rem;
}
.starterm span{
    border: 2px solid #FFDAC9;
    padding: 0.2rem;
    font-weight: 500;
    color: var(--dark);
}

.mains {
    grid-column: 2 / 3;
    text-align: center;
    border-right: 1px solid #CECECE;
    padding: 2rem;
    min-width: 20vw;
}
.mains h3{
    margin-top: 11rem;
    margin-bottom: 2rem;
    text-align: left;
    margin-left: -1rem;
}

.side {
    grid-column: 3 / 4;
    text-align: center;
    border-right: 1px solid #CECECE;
    padding: 2rem;
    min-width: 20vw;

}
.side h3{
    margin-top: 7rem;
    margin-bottom: 2rem;
    text-align: left;
    margin-left: -1rem;
}

.desserts {
    grid-column: 4 / 5;
    text-align: center;
    padding: 2rem;
    min-width: 20vw;

}
.desserts h3{
    margin-top: 3rem;
    margin-bottom: 2rem;
    text-align: left;
    margin-left: -1rem;
}

.menutitle p{
    background-color: var(--primary);
    color: var(--dark);
    font-weight: 600;
    padding: 0.5rem;
    width: 7rem;
}

.menu h3{
    font-size: 3rem;
}

/* section for menu animations */

.slidedown2{
    animation: mdown 2s /* steps(12) */ /* infinite */;
}

.slidedup3{
    animation: mup 3s /* steps(12) */ /* infinite */;
}


@keyframes mup {
    100%{
        transform: translateY(0vh);
    }

    0%{
        transform: translateY(100vh);
    }
}

@keyframes mdown {
    100%{
        transform: translateY(0vh);
        opacity: 100%;
    }

    0%{
        transform: translateY(-100vh);
        opacity: 0%;
    }
} 