
.menu{
    background-color: #F8F8F8;
    color: var(--dark);
    height: 100vh;
    display: grid;
    grid-template: auto 1fr / 1fr 1fr 1fr 1fr;
    padding-left: 10vw;
    padding-right: 10vw;
}


.menutitle{
    padding: 2rem;
    grid-column: 1 / 5;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.menuline{
    background-color: var(--primary);
    height: 0.5rem;
    width: 20rem;
    position: absolute;
    top: 4rem;
}

.starters{
    grid-column: 1 / 2;
    border-right: 1px solid #CECECE;
    padding: 2rem;

}
.starters h3{
    margin-bottom: 2rem;
    text-align: left;
    margin-left: -1rem;
}
.starterm h5{
    font-size: 1rem;
    color: var(--dark);
    text-align: left;
    padding-bottom: 0.5rem;
    margin-top: 3rem;
}
.starterm p{
    font-size: 1rem;
    color: var(--text);
    width: 80%;
    text-align: left;
    margin-bottom: 1rem;
}
.starterm span{
    border: 2px solid #FFDAC9;
    padding: 0.2rem;
    font-weight: 500;
    color: var(--dark);
}

.mains {
    grid-column: 2 / 3;
    text-align: center;
    border-right: 1px solid #CECECE;
    padding: 2rem;
}
.mains h3{

}

.side {
    grid-column: 3 / 4;
    text-align: center;
    border-right: 1px solid #CECECE;
    padding: 2rem;

    
}

.desserts {
    grid-column: 4 / 5;
    text-align: center;
    padding: 2rem;

}

.menutitle p{
    background-color: var(--primary);
    color: var(--dark);
    font-weight: 600;
    padding: 0.5rem;
    width: 7rem;
}

.menu h3{
    font-size: 3rem;
    z-index: 50;
}
