
.location{
    height: 100vh;
    background-color: var(--primary);
    color: var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
}

.ting{
    width: 100vw;
    height: 100vh;
    margin-left: -12rem;
}

.locleg{
    background-color: #fff;
    margin-left: 8rem;
    margin-right: -10rem;
    z-index: 2;
    padding: 1rem;
}

.locleg h2{
    margin-top: -2rem;
    text-align: center;
}
