
.location{
    height: 70vh;
    background-color: var(--primary);
    color: var(--dark);
    position: relative;
}

.ting{
    height: 70vh;
}

.locleg{
    position: absolute;
    top: 10vh;
    left: 10vw;
    background-color: #fff;
    padding: 1rem;
    font-size: 1.3rem;
}

.locleg h2{
    margin-top: -3rem;
    font-size: 4rem;
}
