
.location{
    height: 60vh;
    background-color: var(--primary);
    color: var(--dark);
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: relative;
}

.ting{
    height: 60vh;
}

.locleg{
    position: absolute;
    z-index: 5;
    top: 10vh;
    left: 10vw;
    background-color: #fff;
    z-index: 2;
    padding: 1rem;
}

.locleg h2{
    margin-top: -2.5rem;
    text-align: center;
    font-size: 3rem;
    padding-bottom: 0.8rem;
}
