
.hero{
    position: relative;
    background-color: var(--primary);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 103vh;
}

.heroimgs{
    position: absolute;
    top: 10vh;
} 

.heroimg{
    height: 80vh;
}

.logoimg{ 
    position: absolute;
    top: 10vh;
    height: 20vh;
    transform: matrix(0.99, -0.12, 0.12, 0.99, 0, 0);   
}

.herotext{
    text-align: center;
    z-index: 5;
    padding-top: 20vh;
    text-shadow: 2px 2px #333
}

.hero h1{
    font-size: 7rem;
}
#heroxp{
 font-size: 10rem;
 letter-spacing: -0.1rem;
 margin-top: -3rem;
}

.hero h4{
    font-size: 3rem;  
}

.sidebtn{
    background-color: #fff;
    color: var(--dark);
    z-index: 33;
    font-size: 1.2rem;
    padding: 0.5rem;
    transform: rotate(-90deg);
    position: absolute;
    right: 0;
}