
.hero{
    background-color: var(--primary);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.heroimg{
    z-index: 1;
}