
.sidenav{
    position: fixed;
    z-index: 100;
    width: 5rem;
    height: 100vh;
    margin-left: 3rem;
    color: var(--dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidenav ul{
    list-style-type: none;
    font-size: 1.3rem;
}
.strike{
text-decoration: line-through
}