
.nav{
    position: absolute;
    z-index: 100;
    width: 100vw;
    height: 5rem;
    display: flex;
    flex-direction: column;
    background-color: none;
}

.navlist{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0.5rem;
}

.lognav{
    margin-left: auto;
    display: flex;
}

.navlist li{
    margin-right: 1rem;
}