
.footer{
    background-color: var(--dark);
    height: 40vh;
    color: #767676;
    display: grid;
    grid-template: 1fr auto / 1fr auto;
    padding: 8vh 8vw 8vh 8vw;
}

.footerfive{
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr 1fr 1fr;
}

.footerfive h5{
    color: #FFDAC9;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.footerfive p{
margin-bottom: 1rem;
}

.footerlogo{
    color: #fff;
    text-align: right;
    margin-left: 10vw;
    font-size: 1.5rem;

}

.footer span{
    font-size: 3.8rem;

}

.footercopy{

}

.footersocial{
    display: flex;
    justify-content: space-around;
}

.footer img{
    height: 1rem;
}