
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');

@font-face {
  font-family: "Din";
  src: local("DINCondensedBold"),
    url("./fonts/DINCondensedBold.ttf") format("truetype");
}

/* css reset */
:root {
  font-size: 16px;
  font-family: 'Din', 'Roboto';
  --light: #F8F8F8;
  --dark: #333333;
  --text: #767676;
  --primary: #FFDAC9 ;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
