
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');

/* css reset */
:root {
  font-size: 16px;
  font-family: 'Roboto', Helvetica, sans-serif;
  --light: #ededed;
  --dark: #333333;
  --accent: #ff3300;
  --primary: #008080;
  --secondary: #ffaa00;
  --third: #fff;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}